/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * Customized By pdeddy78.com
 */
nav ul a,
nav .brand-logo {
  /*color: #444;*/
}

nav a:hover {
    text-decoration: none!important;
    color: #fff!important;
}
nav a:focus {
    text-decoration: none!important;
    color: #fff!important;
}
p {
  line-height: 2rem;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
